src/main/resources/dynamic-routing-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.1/mule-vm.xsd
        ">

    <description>Filter messages using XPath</description>

    <flow name="Route messages dynamically using a message property">
        <vm:inbound-endpoint path="input"/>
        <vm:outbound-endpoint path="#[header:INBOUND:destination-queue]"/>
    </flow>



</mule>